<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <table width="100%">
      <tr>
        <td><ion-title>Tempura</ion-title></td>
        <td align="right"><button ion-button color="light" (click)="logout()">{{account.firstname}} {{account.lastname}} abmelden</button></td>
      </tr>
    </table>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Zeiterfassung</h3>

  <ion-item type="item-text-wrap" >
    <div class="row" >
      <div class="col col-10">Datum</div>
      <div class="col col-15">Von</div>
      <div class="col col-15">Bis</div>
      <div class="col col-15">Von</div>
      <div class="col col-15">Bis</div>
      <div class="col col-15">Pause</div>
      <div class="col col-15">Ruhetag</div>
      <div class="col col-15">Arbeitszeit</div>
      <div class="col col-15"></div>
    </div>
    <div class="row" ng-controller='HomePage'  *ngFor="let day of worktimes">
      <div class="col col-10">{{day.date}}</div>
      <div class="col col-15">{{day.timeamfrom}}</div>
      <div class="col col-15">{{day.timeamto}}</div>
      <div class="col col-15">{{day.timepmfrom}}</div>
      <div class="col col-15">{{day.timepmto}}</div>
      <div class="col col-15">{{day.pause}}</div>
      <div class="col col-15">{{day.restday}}</div>
      <div class="col col-15">{{day.worktime}}</div>
      <div class="col col-15"><button ion-button color="change" value="{{day.fs_user}}" (click)="change(day)"><ion-icon name="settings"></ion-icon></button><button ion-button color="danger" value="{{day.fs_user}}" (click)="delete(day.id_worktime)"><ion-icon name="trash"></ion-icon></button></div>
    </div>
  </ion-item>
  <h3>Andere Einträge</h3>
  <ion-item type="item-text-wrap">
    <div class="row">
      <div class="col col-10">Art</div>
      <div class="col col-15">Datum von</div>
      <div class="col col-15">Datum bis</div>
      <div class="col col-15">halber Tag</div>
      <div class="col col-15"></div>
    </div>
    <div class="row" ng-controller='HomePage' *ngFor="let day of othertimes">
      <div class="col col-10">{{day.type}}</div>
      <div class="col col-15">{{day.datefrom}}</div>
      <div class="col col-15">{{day.dateto}}</div>
      <div class="col col-15">{{day.halfaday}}</div>
      <div class="col col-15"><button ion-button color="change" value="{{day.fs_user}}" (click)="changenonbuisness(day)"><ion-icon name="settings"></ion-icon></button><button ion-button color="danger" value="{{day.fs_user}}" (click)="deletenonbuisness(day.id_nonbuisnesstime)"><ion-icon name="trash"></ion-icon></button></div>
    </div>
  </ion-item>

</ion-content>
