<ion-view view-title="Tempura" hide-nav-bar="true">
  <ion-content>
    <h1>Login</h1>
    <form ng-submit="doLogin(loginData)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Benutzername</span>
          <select id="user_list" ng-model="loginData.username" ng-init="listAllUsers()"><option value=""></option></select>
        </label>
        <label class="item item-input">
          <span class="input-label">Passwort</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item" id="login_failure_alert"style="color: red"></label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Anmelden</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
