
<ion-view view-title="Zeiterfassung" hide-back-button="true">
  <ion-content>
    <h1 ng-init="getLast5Days()">Zeiterfassung</h1>
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="myDate">10.01.1997</ion-datetime>
      <input type="datetime-local"></input>
    </ion-item>
    <ion-item type="item-text-wrap" >
      <div class="row" >
          <div class="col col-10">Datum</div>
          <div class="col col-15">Von</div>
          <div class="col col-15">Bis</div>
          <div class="col col-15">Von</div>
          <div class="col col-15">Bis</div>
          <div class="col col-15">Pause</div>
          <div class="col col-15">Ruhetag</div>
      </div>
	     <div class="row"  ng-controller="WorktimeCtrl"  ng-repeat="day in worktimes">
		       <div class="col col-10">{{day.date}}</div>
		       <div class="col col-15">{{day.timeamfrom}}</div>
           <div class="col col-15">{{day.timeamto}}</div>
		       <div class="col col-15">{{day.timepmfrom}}</div>
           <div class="col col-15">{{day.timepmto}}</div>
		       <div class="col col-15">{{day.pause}}</div>
           <div class="col col-15">{{day.restday}}</div>
	     </div>
    </ion-item>
  </ion-content>
</ion-view>
